<div class="container">
    <div class="row pt-5">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" *ngIf="errores">
                <ul>
                    <li *ngFor="let error of errores">{{error}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-7">
            <div class="card">
                <h5 class="card-header bg-info text-white">Crear nuevo cliente</h5>
                <div class="card-body">
                    <form #forma="ngForm">
                        <div class="form-group row">
                            <label for="nombre" class="col-sm-3 col-form-label">Nombre:</label>
                            <div class="col-sm-8">
                                <input [(ngModel)]="cliente.nombre" [ngClass]="{'is-invalid':(nombre['errors']?.required || nombre['errors']?.minlength) && (nombre.touched), 'is-valid': nombre.errors==null}" name="nombre" type="text" class="form-control" id="nombre" #nombre="ngModel"
                                    required minlength="5">
                                <small class="text-danger" *ngIf="nombre['errors']?.required && nombre.touched">*Este campon es requerido</small>
                                <small class="text-danger" *ngIf="nombre['errors']?.minlength && nombre.touched">*Introduce un minimo de 5 caracteres</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="apellido" class="col-sm-3 col-form-label">Apellido:</label>
                            <div class="col-sm-8">
                                <input #apellido="ngModel" [(ngModel)]="cliente.apellido" name="apellido" [ngClass]="{'is-invalid':(apellido['errors']?.required || apellido['errors']?.minlength) && (apellido.touched), 'is-valid': apellido.errors==null}" type="text" class="form-control is-invalid"
                                    id="apellido" required minlength="5">
                                <small class="text-danger" *ngIf="apellido['errors']?.required && apellido.touched">*Este campon es requerido</small>
                                <small class="text-danger" *ngIf="apellido['errors']?.minlength && apellido.touched">*Introduce un minimo de 5 caracteres</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Email:</label>
                            <div class="col-sm-8">
                                <input [ngClass]="{'is-invalid': (email['errors']?.required || email['errors']?.pattern) && email.touched, 'is-valid': email.errors == null}" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="cliente.email" name="email" type="email"
                                    class="form-control" id="nombre" required>
                                <small *ngIf="email['errors']?.required && email.touched" class="text-danger">*Este campo es requerido</small>
                                <small *ngIf="email['errors']?.pattern" class="text-danger">*Escribe un correo valido</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="createAt" class="col-sm-3 col-form-label">Fecha:</label>
                            <div class="col-sm-8">
                                <input [(ngModel)]="cliente.createAt" [ngClass]="{'is-invalid':createAt['errors']?.required && (nombre.touched), 'is-valid': createAt.errors==null}" name="createAt" type="date" class="form-control" id="createAt" #createAt="ngModel" required>
                                <small class="text-danger" *ngIf="createAt['errors']?.required && nombre.touched">*Este campon es requerido</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="createAt" class="col-sm-3 col-form-label">Region:</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="cliente.region" name="createAt" type="date" class="form-control" id="createAt" #region="ngModel" required>
                                    <option *ngFor="let region of regiones" [ngValue]="region">{{region.name}}</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info" (click)="crearCliente()" *ngIf="!cliente.id else update">Guardar</button>
                        <ng-template #update>
                            <button type="submit" class="btn btn-info" (click)="updateCliente()">Editar</button>
                        </ng-template>
                        <!--[disabled]="!forma.valid" [disabled]="!forma.valid"-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>